div {
    margin: 5%;
    text-align: center;
}
.root {
    letter-spacing: .05rem;
}

.greeting {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.name {
    margin-top: 1.5%;

    h1 {
        font-weight: bold;
        font-size: 40px;
    }
}
