<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <mat-button-toggle-group [value]="isDarkTheme | async" (change)="toggleDarkTheme($event.source.value)">
    <mat-button-toggle value=true >
      <mat-icon>brightness_2</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value=false>
      <mat-icon>brightness_high</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>