
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-white: (
  50: #fafafa,
  100: #fafafa,
  200: #fafafa,
  300: #fafafa,
  400: #fafafa,
  500: #fafafa,
  600: #fafafa,
  700: #fafafa,
  800: #fafafa,
  900: #fafafa,
  A100: #fafafa,
  A200: #fafafa,
  A400: #fafafa,
  A700: #fafafa,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($mat-white);
$accent: mat-palette($mat-white);

$warn: mat-palette($mat-red);

$al3xfischer-theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($al3xfischer-theme);

.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: "Google Sans","georgia","serif"!important;}
